#container {
    font-size:1.3em;
    line-height:1.3em;
    max-width: 700px;
    margin-left: 13%;
}

.post {
    padding: 1em 0;
    display: block;
}

.day {
    color: gray;
}

.link {
    padding: 0.5em 0;
}

.title {
    background-color:black;
    color:white;
}

.excerpt {
}


@media only screen and (max-width: 700px) {
    #container {
        margin: 0;
    }
}
